table {
    border-collapse: collapse;
    border: 1px solid lightblue;

    th, td {
        padding: 10px 29px;
    }

    th {
        background-color: rgb(9, 37, 92);
        color: white;
    }

    tr:nth-child(even) {
        background-color: lightblue;
    }

    th:last-child, td:last-child {
        border: 1px solid white;
        border-left: 1px solid lightblue; 
        background-color: white;
    }
}

div.form__field {
    margin: 20px auto;
    label {
        display: block;
    }
}